@use './variables' as v;

.app {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.btn__container {
    width: 550px;
    display: flex;
    justify-content: space-between;
    margin: 15px auto;
    align-self: center;
}

.card__container {
    display: flex;
    width: 600px;
    height: 400px;
    margin: 30px;
    padding: 20px;
    align-items: center;
    justify-content: center;

    position: relative;


    .card:nth-child(1) {
        position: absolute;
        left: 10px;
        z-index: 3;

        transform: rotate(-15deg) translateY(20px);
        transition: .3s;

        &:hover {
            transform: rotate(-15deg) translateY(0);
        }
    }

    .card:nth-child(2) {
        position: absolute;
        left: 175px;
        z-index: 2;

        transition: .3s;

        &:hover {
            transform: translateY(-10px);
        }
    }

    .card:nth-child(3) {
        position: absolute;
        left: 350px;
        z-index: 1;

        transform: rotate(15deg) translateY(30px);
        transition: .3s;

        &:hover {
            transform: rotate(15deg) translateY(0);
        }
    }

}

.card1 {
    transform: rotate(15deg) translate(200px);
}

.card2 {
    transform: rotate(10deg) translate(130px);
}